@import 'dark-variables';

:root {
  @each $key, $value in $variables {
    --#{$key}: #{$value};
  }
}

@import '~bulma/bulma';
@import 'chart-dark';

html,
body {
  overflow: hidden;
}

ngx-loading-bar #loading-bar-spinner {
  position: fixed;
  left: 50% !important;
  right: 50% !important;
}
