:host {
  height: 2rem;
  cursor: pointer;
}
.dropdown-trigger {
  align-items: center;
  span {
    padding: 0 0.25rem 0 0.75rem;
  }
  fa-icon {
    margin-left: 0.5rem;
    padding-bottom: 0.1rem;
  }
}
.dropdown-underlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
