@import 'default-variables';

.card-footer-item fa-icon {
  margin-right: 0.5rem;
}
.card {
  margin-bottom: 1rem;
  .title > .tag {
    margin-left: auto;
  }
  &:hover {
    box-shadow: $shadow-md;
  }
}
