<aside
  class="menu"
  [class.is-open]="uiState.isOpen"
  *ngxSubscribe="sidenavState as uiState"
>
  <ul class="menu-list">
    <eyev-sidenav-item
      *ngFor="let navItem of uiState.items"
      [navItem]="navItem"
      [isOpen]="uiState.isOpen"
    ></eyev-sidenav-item>
  </ul>
  <div class="sidenav-toggle" (click)="toggle()">
    <fa-icon [icon]="['fas', 'arrow-from-right']" *ngIf="uiState.isOpen">
    </fa-icon>
    <fa-icon [icon]="['fas', 'arrow-from-left']" *ngIf="!uiState.isOpen">
    </fa-icon>
  </div>
</aside>
