@import '~bulma/sass/utilities/mixins';
@import 'default-variables';

main {
  @include desktop {
    width: 100%;
  }
  width: 100%;
  padding: 1rem;
  height: calc(100vh - 53px);
  overflow: auto;
  @extend %scrollbar;
}
.app-shell {
  display: flex;
}
eyev-sidenav {
  display: none;
  @include desktop {
    display: flex;
  }
}
