<div class="columns is-desktop">
  <div class="column is-two-thirds-desktop">
    <div class="chart-outer-container">
      <h2 class="title"
        >{{ lineChartOptions.title }}
        <div class="buttons has-addons">
          <span
            class="button is-link is-small is-rounded"
            [class.is-active]="lineChartOptions.type === 'impressions'"
            (click)="toggleLineChart('impressions')"
            >Impressions</span
          >
          <span
            class="button is-link is-small"
            [class.is-active]="lineChartOptions.type === 'conversions'"
            (click)="toggleLineChart('conversions')"
            >Conversions</span
          >
          <span
            class="button is-link is-small is-rounded"
            [class.is-active]="lineChartOptions.type === 'email-subscriptions'"
            (click)="toggleLineChart('email-subscriptions')"
            >Email Subscriptions</span
          >
        </div>
        <span class="tag is-primary">Past 2 weeks</span>
      </h2>
      <eyev-line-chart [url]="lineChartOptions.url"></eyev-line-chart>
    </div>
  </div>
  <div class="column is-one-third-desktop">
    <eyev-gauge-chart
      title="Acquisition"
      timeFrame="Past month"
      url="/assets/mock-data/acquisition-chart-data.json"
    ></eyev-gauge-chart>
  </div>
</div>
<div class="columns is-multiline">
  <div
    class="column is-half-tablet is-half-widescreen is-one-quarter-fullhd"
    *ngFor="let card of (cards | async)"
  >
    <eyev-chart-card [config]="card"></eyev-chart-card>
  </div>
</div>
<div class="columns is-desktop">
  <div class="column is-one-quarter-desktop is-half-tablet">
    <h2 class="title">Announcements</h2>
    <eyev-announcement
      *ngFor="let announcement of (announcements | async)"
      [announcement]="announcement"
    >
    </eyev-announcement>
  </div>
</div>
